headersOrigin = "config"
redirectsOrigin = "config"
plugins = []

[functions]

[functions."*"]

[build]
publish = "/Users/jonathanhessing/Desktop/Cursor Projects/presentation deck/dist"
publishOrigin = "config"
commandOrigin = "config"
base = "/Users/jonathanhessing/Desktop/Cursor Projects/presentation deck"
command = "npm run build"

[build.environment]
NETLIFY_FUNCTIONS_DIRECTORY = "functions"

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[headers]]
for = "/*"

[headers.values]
X-Robots-Tag = "noindex, nofollow, nosnippet, noarchive"
X-Frame-Options = "DENY"
X-Content-Type-Options = "nosniff"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]